.formContainer {
	margin: 0 10rem;

  display: grid;
  padding: 40px;
  align-self: center
}
.formContainer div {
	margin: 0 auto;
	width: 100%;
}
.checkboxContainer{
  margin: 40px;
  display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(5,1fr);
}
.regular-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}


.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #50BAD1
}

.checkLabel {
	font-size: 1rem;
	color: #99a1a7;
	padding-top: 1rem
}
.checkLabel input {
	vertical-align:bottom
}

.subLabel {
	display: grid;
	justify-content: center;
	color: #99a1a7;
	font-size: 1.5rem;
	border-bottom:0.3px solid #99a1a7;
	margin-bottom: 1rem
}

.big-checkbox {
	padding: 8px;
}
.big-checkbox:focus {
outline: 0;
}

.big-checkbox:checked:after {
	font-size: 18px;
	left: 4px;
}

.textShow {
	color: #99a1a7
}