

.sidebarButton {
  width: 20%;
  border-bottom: 1px solid #99a1a7;
  color:#99a1a7;
  border-radius: 10px !important;
}

.sidebarContainer {
  grid-row: 1;
  grid-column: 1/-1;
}

.sortButtons {
  display: flex;
  justify-content: space-around
}

.logout {
  border-bottom: 1px solid #99a1a7 !important
}