.clientContainer {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  border-bottom:#99a1a7;
  
}

.clients {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column: 1/ -1
}



.expanded {
  position: absolute;
  width: 96.8%;
}

.clientCard {
  position: relative;

}

.orange {
  background: rgba(255, 155, 113, 0.9);
  border-radius: 10px
}

.red {
  background: rgba(255, 16, 31, 0.7);
  border-radius: 10px
}

.yellow {
  background: rgba(255, 255, 0, 0.5) ;
  /* border: 1px solid #99a1a7; */
  border-radius: 10px
}